
@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";

@import "nav.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
