
@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";

@import "nav.scss";
@import "card.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-section {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    padding: 2em;
    max-width: fit-content;
    align-items: center;

    h1, svg {
        font-size: 3.25rem;
    }

    svg {
        color: $accent-color;
    }
    
    .hero-headline {
        color: $primary-dark;
        margin-left: 0.5em;
    }
}